### This notebook file is used to generate the Dataset for 2020 Olympic

since the 2020 Olympic statistic values are not given, we have the predict the needed value with the previous year data

In [1]:
# Import required libraries and read test and train data set
import pandas as pd
import numpy as np

In [2]:
# import the Summer Dataset with the given data as a Help Dataset
help_df = pd.read_csv("Generated Dataset/summer_dataset.csv")
help_df = help_df.drop(["Unnamed: 0"], axis = 1)
help_df.head()

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevWinterTotalParticipants,PrevWinterGoldMedals,PrevWinterSilverMedals,PrevWinterBronzeMedals,PrevWinterTotalMedals
0,AUS,1896,1,5,2,0,1,3,60.00,921.791327,...,0,0,0,0,0,0,0,0,0,0
1,AUT,1896,1,8,2,1,2,5,62.50,921.791327,...,0,0,0,0,0,0,0,0,0,0
2,DEN,1896,1,15,1,2,3,6,40.00,921.791327,...,0,0,0,0,0,0,0,0,0,0
3,FRA,1896,1,26,5,4,2,11,42.31,921.791327,...,0,0,0,0,0,0,0,0,0,0
4,GBR,1896,1,25,3,3,3,9,36.00,921.791327,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# import the Winter Dataset with the given data as a Help Dataset
help_df_winter = pd.read_csv("Generated Dataset/winter_dataset.csv")
help_df_winter = help_df_winter.drop(["Unnamed: 0"], axis = 1)
help_df_winter.head()

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevSummerTotalParticipants,PrevSummerGoldMedals,PrevSummerSilverMedals,PrevSummerBronzeMedals,PrevSummerTotalMedals
0,AUS,1924,8,1,1,0,0,1,100.00,3844.95115,...,0,0,0,0,0,60,3,5,2,10
1,AUT,1924,8,4,3,1,0,4,100.00,3844.95115,...,0,0,0,0,0,56,0,3,1,4
2,BEL,1924,8,32,0,0,5,5,15.62,3844.95115,...,0,0,0,0,0,234,3,30,6,39
3,CAN,1924,8,17,9,0,0,9,52.94,3844.95115,...,0,0,0,0,0,83,0,19,1,20
4,CZE,1924,8,31,0,0,0,0,0.00,3844.95115,...,0,0,0,0,0,242,1,4,5,10

In [4]:
df_2020 = pd.DataFrame(columns = help_df.columns)
df_2020.columns

Index(['CountryCode', 'Year', 'OlympicsSeason', 'TotalParticipants',
       'GoldMedals', 'SilverMedals', 'BronzeMedals', 'TotalMedals', 'Win%',
       'GDPPerCapita', 'PopulationSize', 'HostCity', 'PrevTotalParticipants',
       'PrevGoldMedals', 'PrevSilverMedals', 'PrevBronzeMedals',
       'PrevTotalMedals', 'PrevWinterTotalParticipants',
       'PrevWinterGoldMedals', 'PrevWinterSilverMedals',
       'PrevWinterBronzeMedals', 'PrevWinterTotalMedals'],
      dtype='object')

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
# extract the data from the latest Summer Olympic
data_2016_summer = pd.DataFrame(help_df[help_df["Year"] == 2016])
print(data_2016_summer.shape)
data_2016_summer.head()

(197, 22)

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevWinterTotalParticipants,PrevWinterGoldMedals,PrevWinterSilverMedals,PrevWinterBronzeMedals,PrevWinterTotalMedals
2615,AFG,2016,31,3,0,0,0,0,0.0,549.582760,...,6,0,0,1,1,0,0,0,0,0
2616,ALB,2016,31,6,0,0,0,0,0.0,4131.872341,...,10,0,0,0,0,0,0,0,0,0
2617,ALG,2016,31,74,0,2,0,2,2.7,3943.497550,...,39,1,0,0,1,0,0,0,0,0
2618,AND,2016,31,4,0,0,0,0,0.0,37231.815671,...,6,0,0,0,0,0,0,0,0,0
2619,ANG,2016,31,26,0,0,0,0,0.0,3509.604211,...,35,0,0,0,0,0,0,0,0,0

In [7]:
# extract the data from the latest Winter Olympic
data_2014_winter = pd.DataFrame(help_df_winter[help_df_winter["Year"] == 2014])
print(data_2014_winter.shape)
data_2014_winter.head()

(86, 22)

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevSummerTotalParticipants,PrevSummerGoldMedals,PrevSummerSilverMedals,PrevSummerBronzeMedals,PrevSummerTotalMedals
1150,ALB,2014,30,2,0,0,0,0,0.00,4578.667934,...,2,0,0,0,0,10,0,0,0,0
1151,AND,2014,30,12,0,0,0,0,0.00,42294.994727,...,20,0,0,0,0,6,0,0,0,0
1152,ARG,2014,30,20,0,0,0,0,0.00,12245.256449,...,20,0,0,0,0,148,1,15,3,19
1153,ARM,2014,30,6,0,0,0,0,0.00,3994.712355,...,6,0,0,0,0,31,0,1,2,3
1154,AUS,2014,30,84,0,2,1,3,3.57,62327.555939,...,49,2,1,0,3,514,18,37,59,114

In [8]:
# create the DataFrame for 2020 Olympic
df_2020_summer = pd.DataFrame(columns = help_df.columns)

In [9]:
# Feed in the Data for 2020 Olympic
df_2020_summer["CountryCode"] = data_2016_summer["CountryCode"]
df_2020_summer["Year"] = data_2016_summer["Year"]
df_2020_summer["TotalParticipants"] = data_2016_summer["TotalParticipants"]
df_2020_summer["PrevTotalParticipants"] = data_2016_summer["TotalParticipants"]
df_2020_summer["PrevGoldMedals"] = data_2016_summer["GoldMedals"]
df_2020_summer["PrevSilverMedals"] = data_2016_summer["SilverMedals"]
df_2020_summer["PrevBronzeMedals"] = data_2016_summer["BronzeMedals"]
df_2020_summer["PrevTotalMedals"] = data_2016_summer["TotalMedals"]

In [10]:
df_2020_summer.head()

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevWinterTotalParticipants,PrevWinterGoldMedals,PrevWinterSilverMedals,PrevWinterBronzeMedals,PrevWinterTotalMedals
2615,AFG,2016,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2616,ALB,2016,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,...,6,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2617,ALG,2016,NaN,74,NaN,NaN,NaN,NaN,NaN,NaN,...,74,0,2,0,2,NaN,NaN,NaN,NaN,NaN
2618,AND,2016,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,...,4,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2619,ANG,2016,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,...,26,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [11]:
df_2020_summer = df_2020_summer.reset_index(drop = True)

In [12]:
NOC = list(df_2020_summer["CountryCode"])
Population = list(df_2020_summer["PopulationSize"])
Year = list(df_2020_summer["Year"])
NOC_df = pd.DataFrame(NOC)

In [13]:
host_city = [0] * 197

In [14]:
# The host city column for 2020 Summer Olympic should be a column of 0s except Japan which is the Host Country of 2020 Olympic
host_city_df = pd.concat([NOC_df, pd.DataFrame(host_city)], axis = 1)
host_city_df.columns = ["NOC", "HostCity"]
host_city_df = host_city_df.set_index("NOC")
host_city_df.loc["JPN", "HostCity"] = 1
host_city_df = host_city_df.reset_index(drop = True)

In [15]:
# Feed in the data for 2020 Olympic
df_2020_summer["HostCity"] = host_city_df["HostCity"]

In [16]:
df_2020_summer.head()

,CountryCode,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevWinterTotalParticipants,PrevWinterGoldMedals,PrevWinterSilverMedals,PrevWinterBronzeMedals,PrevWinterTotalMedals
0,AFG,2016,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,ALB,2016,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,...,6,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,ALG,2016,NaN,74,NaN,NaN,NaN,NaN,NaN,NaN,...,74,0,2,0,2,NaN,NaN,NaN,NaN,NaN
3,AND,2016,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,...,4,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,ANG,2016,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,...,26,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [17]:
# use Linear Regression with given previous year data to predict the GDP data for each country in 2020
NOC_gdp_list = []
for i in NOC:    
    NOC_gdp = pd.DataFrame(help_df[help_df["CountryCode"] == i]["GDPPerCapita"])
    NOC_year = pd.DataFrame(help_df[help_df["CountryCode"] == i]["Year"])
    linreg = LinearRegression()
    linreg.fit(NOC_year, NOC_gdp)
    NOC_gdp_pred = linreg.predict(pd.DataFrame([2020]))
    temp = list(NOC_gdp_pred[0])
    if temp[0] < 0: # if the value is negative, then use the previous year data
        temp[0] = NOC_gdp["GDPPerCapita"].iloc[-1] 
    NOC_gdp_list.extend(temp)

In [18]:
df_2020_summer["GDPPerCapita"] = NOC_gdp_list

In [19]:
# use Linear Regression with given previous year data to predict the Population data for each country in 2020
NOC_population_list = []
for i in NOC:    
    NOC_population = pd.DataFrame(help_df[help_df["CountryCode"] == i]["PopulationSize"])
    NOC_year = pd.DataFrame(help_df[help_df["CountryCode"] == i]["Year"])
    linreg = LinearRegression()
    linreg.fit(NOC_year, NOC_population)
    NOC_population_pred = linreg.predict(pd.DataFrame([2020]))
    temp = list(NOC_population_pred[0])
    if temp[0] < 0: # if the value is negative, then use the previous year data
        temp[0] = NOC_population["PopulationSize"].iloc[-1]
    NOC_population_list.extend(temp)

In [20]:
df_2020_summer["PopulationSize"] = NOC_population_list

In [21]:
data_2014_winter = data_2014_winter.set_index("CountryCode")
df_2020_summer = df_2020_summer.set_index("CountryCode")

In [22]:
# Feed in the Data for 2020 Olympic
for i in df_2020_summer.index:
    if i in data_2014_winter.index:
        df_2020_summer.loc[i, "PrevWinterTotalParticipants"] = data_2014_winter.loc[i, "TotalParticipants"]
        df_2020_summer.loc[i, "PrevWinterGoldMedals"] = data_2014_winter.loc[i, "GoldMedals"]
        df_2020_summer.loc[i, "PrevWinterSilverMedals"] = data_2014_winter.loc[i, "SilverMedals"]
        df_2020_summer.loc[i, "PrevWinterBronzeMedals"] = data_2014_winter.loc[i, "BronzeMedals"]
        df_2020_summer.loc[i, "PrevWinterTotalMedals"] = data_2014_winter.loc[i, "TotalMedals"]

In [23]:
# fill all the Null value with 0
df_2020_summer["PrevWinterTotalParticipants"].fillna(value = 0, inplace = True)
df_2020_summer["PrevWinterGoldMedals"].fillna(value = 0, inplace = True)
df_2020_summer["PrevWinterSilverMedals"].fillna(value = 0, inplace = True)
df_2020_summer["PrevWinterBronzeMedals"].fillna(value = 0, inplace = True)
df_2020_summer["PrevWinterTotalMedals"].fillna(value = 0, inplace = True)

In [24]:
df_2020_summer.head()
# only need the generate the columns useful for prediction

,Year,OlympicsSeason,TotalParticipants,GoldMedals,SilverMedals,BronzeMedals,TotalMedals,Win%,GDPPerCapita,PopulationSize,...,PrevTotalParticipants,PrevGoldMedals,PrevSilverMedals,PrevBronzeMedals,PrevTotalMedals,PrevWinterTotalParticipants,PrevWinterGoldMedals,PrevWinterSilverMedals,PrevWinterBronzeMedals,PrevWinterTotalMedals
CountryCode,,,,,,,,,,,,,,,,,,,,,
AFG,2016,NaN,3,NaN,NaN,NaN,NaN,NaN,441.992829,3.059733e+07,...,3,0,0,0,0,0,0,0,0,0
ALB,2016,NaN,6,NaN,NaN,NaN,NaN,NaN,4233.624277,3.161246e+06,...,6,0,0,0,0,2,0,0,0,0
ALG,2016,NaN,74,NaN,NaN,NaN,NaN,NaN,4732.237073,4.201293e+07,...,74,0,2,0,2,0,0,0,0,0
AND,2016,NaN,4,NaN,NaN,NaN,NaN,NaN,46835.228888,9.366346e+04,...,4,0,0,0,0,12,0,0,0,0
ANG,2016,NaN,26,NaN,NaN,NaN,NaN,NaN,4361.343566,2.886218e+07,...,26,0,0,0,0,0,0,0,0,0

In [25]:
# create the csv file
df_2020_summer.to_csv("Generated Dataset/2020 Olympics.csv") # keep the index(CountryCode) this time